@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:wght@400;500;600&display=swap');

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}


@tailwind base;
@tailwind components;
@tailwind utilities;